<md-sidenav-container class="app-sidenav-container">
  <md-toolbar color="default">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon class="md-24">menu</md-icon>
    </button>
    <div class="app-toolbar">
      <h1>file management system web front end</h1>
      <div>
        <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
      </div>
    </div>
  </md-toolbar>
  <md-sidenav #sidenav mode="over" class="app-sidenav">
    <md-nav-list>
      <a md-list-item class="md-list-item"><md-icon color="default">home</md-icon>menu1</a>
      <a md-list-item class="md-list-item">menu2</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu3</a>
      <a md-list-item class="md-list-item">menu4</a>
      <a md-list-item (click)="sidenav.close()" [routerLink]="['baseline']">Baseline</a>
    </md-nav-list>

  </md-sidenav>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
