<md-toolbar color="primary">
  <button md-icon-button (click)="sidenav.toggle()">
    <md-icon class="md-24">menu</md-icon>
  </button>
  <div class="app-toolbar">
    <h1>file management system web front end</h1>
    <div>
      <button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
    </div>
  </div>
</md-toolbar>
<md-sidenav-container class="app-sidenav-container">
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
