md-nav-list .md-list-item {
  color: #2c2c2c;
  .mat-icon {
    padding-right: 20px;
    color: #6f6f6f;
  }
}
md-nav-list .md-list-item.active {
  color: #212121;
  .mat-icon {
    color: #4285f4;
  }
}
